ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3px 0px 7px;
}

.section {
  outline: 1px solid green;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.section-list {
  margin-left: 20px;
}
pre {
  padding: 0;
  margin: 0;
}
.code {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(219, 255, 243);
  color: green;
  margin-bottom: 5px;
}

.remember {
  color: red;
}