ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3px 0px 7px;
  color: #006400;
}

.practice-header {
  color: rgb(50, 80, 180);
}

.section {
  outline: 1px solid #008000;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.section-list {
  margin-left: 20px;
}
pre {
  padding: 0;
  margin: 0;
}
.code {
  border-radius: 5px;
  padding: 5px;
  background-color: #dbfff3;
  color: #008000;
  margin-bottom: 5px;
}

.remember {
  color: #ff0000;
}


/* accordeon -------------*/

.accordion {
  display: block;
  background-color: rgb(240, 235, 255);
  color: darkblue;
  font-size: 14px;
  font-weight: 600;
  cursor: text;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 3px;
  transition: 0.4s;
  user-select: text;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: aliceblue;
  outline: 1px solid darkblue;
}

/* Style the accordion panel. Note: hidden by default */

.accordion:after {
  content: '\02794'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}
.panel {
  font-size: 16px;
  padding:  0px;
  background-color: rgb(230, 235, 255);  
  border-radius: 3px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}

/* ----------- Slider  ---------- */

/* .slider {
  padding: 10px;
 
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  border: 1px solid #97c797;
  border-radius: 2px;
  background-color: #fff;
  
}

.slides {
  display: flex;
  
}

.slide {
  min-width: 100%;
  padding: 0px 10px 10px  10px;
  box-sizing: border-box;
}

.slider-btn {
  padding: 5px 10px;
  background-color: #97c797;
  outline: 1px solid #97c797;
  border-radius: 2px;
  border: none;
}
.slider-btn:active {
    outline: none;

}


.prev {
  left: 10px;
}

.next {
  right: 10px;
} */




.slider {
  position: relative;
  min-height: 180px;
  width: 800px;
  overflow: hidden;
  border: 1px solid #97c797;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.slider-dropdown {
  position: relative;
  display: inline-block;
}

.slider-menu-title {
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.slider-dropdown-content {
  display: none;
  position: absolute;
  width: 400px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0px 5px;
}

.slider-dropdown:hover .slider-dropdown-content {
  display: block;
}

.slider-dropdown-content h4 {
  cursor: pointer;
  margin: 0;
}

.slider-dropdown-content h4:hover {
  background-color: #f1f1f1;
}

.slider-slides {
  margin-top: 10px;
}

.slider-slide {
  display: none;
}

.slider-slide.visible {
  display: block;
}

/* To Print */

.span-on {
  color: orange;
}
.span-in {
  color: green;
}
.span-out {
  color: blue;
}
.span-in, .span-on, .span-out {
  font-size: 18px;
}

/* Table */

.table {
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 5px;
  border: 1px solid #2a2a2a;
}

.th-logical-operators-one,
.th-logical-operators-two {
  width: 130px;
}
.th-logical-operators-three {
  width: 600px;
}