<!-- <div class="tabs">
  <button class="tab-button actual" data-tab="tab1">CSS</button>
  <button class="tab-button" data-tab="tab2">HTML</button>
</div>

<div id="tab1" class="tab-content actual">
  <pre class="code">
CSS content   
  </pre>
</div>

<div id="tab2" class="tab-content">
  <pre class="code">
HTML content   
  </pre>
</div> -->

<div class="tabs-container">
  <div class="tabs">
    <button class="tab-button actual" data-tab="tab1">CSS</button>
    <button class="tab-button" data-tab="tab2">HTML</button>
  </div>

  <div id="tab1" class="tab-content actual">
    <pre class="code">
CSS content   
</pre
    >
  </div>

  <div id="tab2" class="tab-content">
    <pre class="code">
HTML content   
</pre
    >
  </div>
</div>
