<!-- <div class="tabs">
  <button class="tab-button actual" data-tab="tab1">CSS</button>
  <button class="tab-button" data-tab="tab2">HTML</button>
</div>

<div id="tab1" class="tab-content actual">
  <pre class="code">
CSS content   
  </pre>
</div>

<div id="tab2" class="tab-content">
  <pre class="code">
HTML content   
  </pre>
</div> -->

<!-- ! Two tabs template -->

<div class="tabs-container">
  <div class="tabs">
    <button class="tab-button actual" data-tab="tab1">CSS</button>
    <button class="tab-button" data-tab="tab2">HTML</button>
  </div>

  <div id="tab1" class="tab-content actual">
    <pre class="code">
CSS content   
</pre
    >
  </div>

  <div id="tab2" class="tab-content">
    <pre class="code">
HTML content   
</pre
    >
  </div>
</div>

<!-- ! Two tabs template with <hr> -->
<div class="tabs-container">
  <div class="tabs">
    <button class="tab-button actual" data-tab="tab1">SCSS</button>
    <button class="tab-button" data-tab="tab2">CSS</button>
  </div>

  <div id="tab1" class="tab-content actual">
    <pre class="code">
main.scss
<hr>SCSS content 
</pre
    >
  </div>

  <div id="tab2" class="tab-content">
    <pre class="code">
main.css
<hr>CSS content  
</pre
    >
  </div>

<!-- ! One tab template -->

<div class="tabs">
  <button class="tab-button actual">main.sass</button>
</div>

<div id="tab1" class="tab-content actual">
  <pre class="code">
sass content 
</pre
  >
</div>

<!-- ! -->