h5 {
    font-size: 30px;
}

p,
li {
    font-size: 24px;
}

p {
    text-transform: none;
}

.uk {
    background-color: white;
}

.en {

    background-color: lightgray;
    font-weight: 600;
}

.tr {

    background-color: darkblue;
color: white;
}