/* ul,
li {
  list-style-type: none;
} */

ul,
li {
  margin: 0;
  padding: 0;
}

p,
ul,
div,
pre,
hr,
h1,
h2,
h3,
h4 {
  margin: 0px 0px 5px 0px;
  padding: 0;
}

.main {
  min-height: 500px;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.sectionList {
  margin-left: 30px;
}

.code {
  border-radius: 3px;
  padding: 5px;
  background-color: rgb(241, 240, 240);
  border: 1px solid rgb(199, 199, 199);
  margin-bottom: 5px;
  overflow-x: auto;
}

.span-code {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0px 5px;
  font-style: normal;
}

.note {
  color: darkorchid;
  background-color: rgb(242, 215, 255);
  padding: 5px;
  border: 1px solid darkorchid;
  border-radius: 5px;
  font-style: italic;
}

.useful {
  background-color: rgb(207, 255, 255);
  color: teal;
  padding: 5px;
  border: 1px solid teal;
  border-radius: 5px;
  font-style: italic;
}

.attention {
  background-color: rgb(255, 218, 218);
  padding: 5px;
  border: 1px solid crimson;
  border-radius: 5px;
  color: crimson;
  font-style: italic;
}

.tabButton {
  padding: 5px 20px;
  cursor: pointer;
  background-color: rgb(241, 240, 240);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px 3px 0px 0px;
}

.tabs {
    margin-bottom: 0;

}


.footer {
  border-radius: 3px;
  outline: 1px solid lightblue ;
  color: rgb(155, 170, 175);
  padding: 5px;
}

/*  nav list dropdown menu*/

.nav__list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.name__menu {
  margin-left: 200px;
}

.hidden__menu {
  color: blue;
  display: none;
  position: relative;
  list-style-type: none;
text-align: left;
}

.name__menu:hover .hidden__menu {
  display: block;
  position: absolute;
  background-color: white;
  padding: 0px 15px;
  box-shadow: 4px 4px 8px 0px rgba(56, 80, 34, 0.2);
}


.menu__style {
  color: blue;
  min-width: 100px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 3px;
}

/* ----- */

.generalbox {
  display: flex;
}

.leftbox {
  min-width: 500px;
  /* background-color: aliceblue; */
}

.rightbox {
  color: darkblue;
}

.module {
  font-size: 24px;
  font-weight: 600;
  color: darkblue;
}

.moduleItems {
  font-size: 18px;
  font-weight: 400;
}

/* section in paintings */
.beautyIsNear {
  text-transform: uppercase;
  color: rgb(227, 19, 19);
  margin-bottom: 40px;
}