@font-face {
  font-family: 'FuturaPTBook';
  src: url('../fonts_acquiring/FuturaPTBook.eot');
  src: url('../fonts_acquiring/FuturaPTBook.eot') format('embedded-opentype'), url('../fonts_acquiring/FuturaPTBook.woff2') format('woff2'), url('../fonts_acquiring/FuturaPTBook.woff') format('woff'), url('../fonts_acquiring/FuturaPTBook.ttf') format('truetype'), url('../fonts_acquiring/FuturaPTBook.svg#FuturaPTBook') format('svg');
}
@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('../fonts_acquiring/FuturaPT-Heavy.eot');
  src: url('../fonts_acquiring/FuturaPT-Heavy.eot') format('embedded-opentype'), url('../fonts_acquiring/FuturaPT-Heavy.woff') format('woff'), url('../fonts_acquiring/FuturaPT-Heavy.ttf') format('truetype'), url('../fonts_acquiring/FuturaPT-Heavy.svg') format('svg');
}
@font-face {
  font-family: 'FuturaPTMedium';
  src: url('../fonts_acquiring/FuturaPTMedium.eot');
  src: url('../fonts_acquiring/FuturaPTMedium.eot') format('embedded-opentype'), url('../fonts_acquiring/FuturaPTMedium.woff2') format('woff2'), url('../fonts_acquiring/FuturaPTMedium.woff') format('woff'), url('../fonts_acquiring/FuturaPTMedium.ttf') format('truetype'), url('../fonts_acquiring/FuturaPTMedium.svg#FuturaPTMedium') format('svg');
}